header#welcome {
  margin-top: -20px;
  text-align: center;
  color: dimgray;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header#welcome .text {
  margin-top: -100px;
  padding-top: 150px;
  padding-bottom: 100px;
}

header#welcome .text .intro-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-weight: bold;
}

#intro-welcome {
  color: dimgray;
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-weight: bold;
}

@media (min-width: 768px) {

  header#welcome .text {
      padding-top: 300px;
      padding-bottom: 250px;
  }

  header#welcome .text .intro-heading {
      font-size: 48px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 50px;
      margin-left: 80px;
      margin-right: 80px;

  }
}

.btn-xl {
  font-size: 18px;
  padding: 15px 50px;
}

#sec-1 {
    background-color: #e9e9e9;
}

.contenedor{
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.1);
}

.formulario hr {
    background-color: #e9e9e9;
    margin-bottom: 0px;
}

.formulario p {
    margin-bottom: 30px;
}

.textFieldDisabled, .textFieldDisabled:disabled, .textFieldDisabled-cantOrden, .textFieldDisabled-cantOrden:disabled {
    background: transparent;
    border: none ;
}

.textFieldDisabled:enabled, .textFieldDisabled-cantOrden:enabled{
    background: transparent;
    border: 1px solid;
    border-color: #999;
    border-radius: 5px;
    outline: none;
}

.form-margin {
    border: 1px solid #e9e9e9;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px rgb(0, 0, 0, 0.3);
    font-family: 'Candara';
}

.error {
    border-color: red !important;
}

.btn-sidebar, .btn-sidebar:focus{
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: 0 none;
  box-shadow: 3px 0px 5px -1px rgba(0, 0, 0, 0.1);
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
}

/* INPUT ESTILO GOOGLE */

.label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    width: 190px;
    left: 5px;
    top: 10px;
    padding-right: 3px;
    padding-left: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: white;
    display: flex;
}

.label-mesa {
  
  width: auto;
  
}

.group {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.group-items{
    position: relative;
    width: auto;
    border: 1px solid #999; 
    border-radius: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.textField {
    font-size: 18px;
    padding: 5px 0px 10px 0px;
    display: block;
    border: 1px solid #757575;
    border-radius: 5px;
}

.date{
    padding-right: 60px; 
}

.textField:focus~.label,
.textField:valid~.label {
    top: -10px;
    font-size: 13px;
    color: rgb(15, 54, 212);
    padding-right: 3px;
    padding-bottom: -5px;
    width: auto;
}

/* active state */
.textField:focus,
.textField:valid {
  outline: none;
    border-color: rgb(15, 54, 212);
    transition: 0.5s  ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s  ease all;
    
}

.card-footer .btn{
  margin-bottom: 5px;
}

.container-ingredientes{
  height: auto;
  max-height: 120px; 
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #999;
  margin-bottom: 5px;

}

.container-platos{
  height: auto;
  max-height: 460px; 
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #999;
  margin-bottom: 5px;

}

.plato-orden-select{
  border: 2px double limegreen;
}

.plato-orden-mouseover{
  border: 2px double rgb(129, 248, 129);
}

body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 8rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper{
      margin-top:-20px;
  }

  @media (min-width: 460px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -8rem;
    }
  }

  
  